<div class="login">
    <h1>Login</h1>

    <form id="loginForm">
        <label for="email">Email: </label>
        <input name="email">

        <label for="pass">Contrasena: </label>
        <input type="password" name="password">

        <input type="submit">
    </form>
    <p>No estas registrado? <a href="/register">Registrate aqui</a></p>
    <p>Olvidaste tu contrasena? <a href="/reset">Haz click aquí</a></p>
    <a href="/api/sessions/github"><button>Entrar con GitHub</button></a>

</div>
<script src="/js/login.js"></script>