<div>
    <h1>Reset Password</h1>
    <form id="resetForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
 
</div>
<script src='/js/reset.js'></script>