.register {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

    border-radius: 15px;
    border: 1px solid black;
    padding: 1.5rem;
}

#registerForm {
    display: flex;
    flex-direction: column;
};
